:root {
    --amber-100: rgba(255, 235, 176, 1);
    --amber-200: rgba(255, 226, 138, 1);
    --amber-300: rgba(255, 212, 84, 1);
    --amber-400: rgba(255, 204, 51, 1);
    --amber-50: rgba(255, 249, 230, 1);
    --amber-500: rgba(255, 191, 0, 1);
    --amber-600: rgba(232, 174, 0, 1);
    --amber-700: rgba(181, 136, 0, 1);
    --amber-800: rgba(102, 76, 0, 1);
    --amber-900: rgba(71, 53, 0, 1);
    --blue-100: rgba(200, 206, 245, 1);
    --blue-200: rgba(163, 175, 238, 1);
    --blue-300: rgba(124, 143, 231, 1);
    --blue-400: rgba(92, 117, 225, 1);
    --blue-50: rgba(233, 236, 251, 1);
    --blue-500: rgba(59, 91, 219, 1);
    --blue-600: rgba(53, 82, 208, 1);
    --blue-700: rgba(42, 72, 195, 1);
    --blue-800: rgba(32, 61, 184, 1);
    --blue-900: rgba(8, 41, 164, 1);
    --body-copy-b1-medium-font-family: "Exo-Medium", Helvetica;
    --body-copy-b1-medium-font-size: 12px;
    --body-copy-b1-medium-font-style: normal;
    --body-copy-b1-medium-font-weight: 500;
    --body-copy-b1-medium-letter-spacing: 0px;
    --body-copy-b1-medium-line-height: 18px;
    --body-copy-b1-regular-font-family: "Exo-Regular", Helvetica;
    --body-copy-b1-regular-font-size: 12px;
    --body-copy-b1-regular-font-style: normal;
    --body-copy-b1-regular-font-weight: 400;
    --body-copy-b1-regular-letter-spacing: 0px;
    --body-copy-b1-regular-line-height: 18px;
    --body-copy-b1-semibold-font-family: "Exo-SemiBold", Helvetica;
    --body-copy-b1-semibold-font-size: 12px;
    --body-copy-b1-semibold-font-style: normal;
    --body-copy-b1-semibold-font-weight: 600;
    --body-copy-b1-semibold-letter-spacing: 0px;
    --body-copy-b1-semibold-line-height: 18px;
    --body-copy-b2-medium-font-family: "Exo-Medium", Helvetica;
    --body-copy-b2-medium-font-size: 14px;
    --body-copy-b2-medium-font-style: normal;
    --body-copy-b2-medium-font-weight: 500;
    --body-copy-b2-medium-letter-spacing: 0px;
    --body-copy-b2-medium-line-height: 20px;
    --body-copy-b2-regular-font-family: "Exo-Regular", Helvetica;
    --body-copy-b2-regular-font-size: 14px;
    --body-copy-b2-regular-font-style: normal;
    --body-copy-b2-regular-font-weight: 400;
    --body-copy-b2-regular-letter-spacing: 0px;
    --body-copy-b2-regular-line-height: 20px;
    --body-copy-b2-semibold-font-family: "Exo-SemiBold", Helvetica;
    --body-copy-b2-semibold-font-size: 14px;
    --body-copy-b2-semibold-font-style: normal;
    --body-copy-b2-semibold-font-weight: 600;
    --body-copy-b2-semibold-letter-spacing: 0px;
    --body-copy-b2-semibold-line-height: 20px;
    --body-copy-b3-medium-font-family: "Exo-Medium", Helvetica;
    --body-copy-b3-medium-font-size: 16px;
    --body-copy-b3-medium-font-style: normal;
    --body-copy-b3-medium-font-weight: 500;
    --body-copy-b3-medium-letter-spacing: 0px;
    --body-copy-b3-medium-line-height: 24px;
    --body-copy-b3-regular-font-family: "Exo-Regular", Helvetica;
    --body-copy-b3-regular-font-size: 16px;
    --body-copy-b3-regular-font-style: normal;
    --body-copy-b3-regular-font-weight: 400;
    --body-copy-b3-regular-letter-spacing: 0px;
    --body-copy-b3-regular-line-height: 24px;
    --body-copy-b3-semibold-font-family: "Exo-SemiBold", Helvetica;
    --body-copy-b3-semibold-font-size: 16px;
    --body-copy-b3-semibold-font-style: normal;
    --body-copy-b3-semibold-font-weight: 600;
    --body-copy-b3-semibold-letter-spacing: 0px;
    --body-copy-b3-semibold-line-height: 24px;
    --body-copy-b4-medium-font-family: "Exo-Medium", Helvetica;
    --body-copy-b4-medium-font-size: 18px;
    --body-copy-b4-medium-font-style: normal;
    --body-copy-b4-medium-font-weight: 500;
    --body-copy-b4-medium-letter-spacing: 0px;
    --body-copy-b4-medium-line-height: 26px;
    --body-copy-b4-regular-font-family: "Exo-Regular", Helvetica;
    --body-copy-b4-regular-font-size: 18px;
    --body-copy-b4-regular-font-style: normal;
    --body-copy-b4-regular-font-weight: 400;
    --body-copy-b4-regular-letter-spacing: 0px;
    --body-copy-b4-regular-line-height: 26px;
    --body-copy-b4-semibold-font-family: "Exo-SemiBold", Helvetica;
    --body-copy-b4-semibold-font-size: 18px;
    --body-copy-b4-semibold-font-style: normal;
    --body-copy-b4-semibold-font-weight: 600;
    --body-copy-b4-semibold-letter-spacing: 0px;
    --body-copy-b4-semibold-line-height: 26px;
    --card-shadow-amb1: 0px 8px 11px -4px rgba(45, 54, 67, 0.04), 0px 20px 24px -4px rgba(255, 235, 176, 0.04);
    --card-shadow-amb2: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px 0px rgba(12, 26, 75, 0.24);
    --card-shadow-neumorph: 10px 10px 30px 0px rgba(174, 174, 192, 0.4), -10px -10px 30px 0px rgba(240, 240, 243, 1);
    --focused: 0px 0px 0px 2px rgba(232, 174, 0, 0.2);
    --gray-100: rgba(232, 232, 232, 1);
    --gray-200: rgba(209, 209, 209, 1);
    --gray-300: rgba(166, 167, 168, 1);
    --gray-400: rgba(144, 145, 147, 1);
    --gray-50: rgba(244, 244, 244, 1);
    --gray-500: rgba(122, 122, 125, 1);
    --gray-600: rgba(100, 101, 104, 1);
    --gray-700: rgba(77, 78, 81, 1);
    --gray-800: rgba(56, 57, 60, 1);
    --gray-900: rgba(33, 34, 38, 1);
    --green-100: rgba(200, 230, 201, 1);
    --green-200: rgba(165, 214, 167, 1);
    --green-300: rgba(129, 199, 132, 1);
    --green-400: rgba(102, 187, 107, 1);
    --green-50: rgba(232, 245, 233, 1);
    --green-500: rgba(76, 175, 81, 1);
    --green-600: rgba(67, 160, 72, 1);
    --green-700: rgba(56, 142, 61, 1);
    --green-800: rgba(46, 125, 51, 1);
    --green-900: rgba(27, 94, 33, 1);
    --header-h1-bold-font-family: "Exo-Bold", Helvetica;
    --header-h1-bold-font-size: 28px;
    --header-h1-bold-font-style: normal;
    --header-h1-bold-font-weight: 700;
    --header-h1-bold-letter-spacing: 0px;
    --header-h1-bold-line-height: 36px;
    --header-h1-regular-font-family: "Exo-Regular", Helvetica;
    --header-h1-regular-font-size: 28px;
    --header-h1-regular-font-style: normal;
    --header-h1-regular-font-weight: 400;
    --header-h1-regular-letter-spacing: 0px;
    --header-h1-regular-line-height: 36px;
    --header-h1-semibold-font-family: "Exo-SemiBold", Helvetica;
    --header-h1-semibold-font-size: 28px;
    --header-h1-semibold-font-style: normal;
    --header-h1-semibold-font-weight: 600;
    --header-h1-semibold-letter-spacing: 0px;
    --header-h1-semibold-line-height: 36px;
    --header-h1-xbold-font-family: "Exo-ExtraBold", Helvetica;
    --header-h1-xbold-font-size: 28px;
    --header-h1-xbold-font-style: normal;
    --header-h1-xbold-font-weight: 800;
    --header-h1-xbold-letter-spacing: 0px;
    --header-h1-xbold-line-height: 36px;
    --header-h2-bold-font-family: "Exo-Bold", Helvetica;
    --header-h2-bold-font-size: 36px;
    --header-h2-bold-font-style: normal;
    --header-h2-bold-font-weight: 700;
    --header-h2-bold-letter-spacing: 0px;
    --header-h2-bold-line-height: 44px;
    --header-h2-regular-font-family: "Exo-Regular", Helvetica;
    --header-h2-regular-font-size: 36px;
    --header-h2-regular-font-style: normal;
    --header-h2-regular-font-weight: 400;
    --header-h2-regular-letter-spacing: 0px;
    --header-h2-regular-line-height: 44px;
    --header-h2-semibold-font-family: "Exo-SemiBold", Helvetica;
    --header-h2-semibold-font-size: 36px;
    --header-h2-semibold-font-style: normal;
    --header-h2-semibold-font-weight: 600;
    --header-h2-semibold-letter-spacing: 0px;
    --header-h2-semibold-line-height: 44px;
    --header-h2-xbold-font-family: "Exo-ExtraBold", Helvetica;
    --header-h2-xbold-font-size: 36px;
    --header-h2-xbold-font-style: normal;
    --header-h2-xbold-font-weight: 800;
    --header-h2-xbold-letter-spacing: 0px;
    --header-h2-xbold-line-height: 44px;
    --header-h3-bold-font-family: "Exo-Bold", Helvetica;
    --header-h3-bold-font-size: 48px;
    --header-h3-bold-font-style: normal;
    --header-h3-bold-font-weight: 700;
    --header-h3-bold-letter-spacing: 0px;
    --header-h3-bold-line-height: 56px;
    --header-h3-regular-font-family: "Exo-Regular", Helvetica;
    --header-h3-regular-font-size: 48px;
    --header-h3-regular-font-style: normal;
    --header-h3-regular-font-weight: 400;
    --header-h3-regular-letter-spacing: 0px;
    --header-h3-regular-line-height: 56px;
    --header-h3-semibold-font-family: "Exo-SemiBold", Helvetica;
    --header-h3-semibold-font-size: 48px;
    --header-h3-semibold-font-style: normal;
    --header-h3-semibold-font-weight: 600;
    --header-h3-semibold-letter-spacing: 0px;
    --header-h3-semibold-line-height: 56px;
    --header-h3-xbold-font-family: "Exo-ExtraBold", Helvetica;
    --header-h3-xbold-font-size: 48px;
    --header-h3-xbold-font-style: normal;
    --header-h3-xbold-font-weight: 800;
    --header-h3-xbold-letter-spacing: 0px;
    --header-h3-xbold-line-height: 56px;
    --header-h4-bold-font-family: "Exo-Bold", Helvetica;
    --header-h4-bold-font-size: 64px;
    --header-h4-bold-font-style: normal;
    --header-h4-bold-font-weight: 700;
    --header-h4-bold-letter-spacing: 0px;
    --header-h4-bold-line-height: 72px;
    --header-h4-regular-font-family: "Exo-Regular", Helvetica;
    --header-h4-regular-font-size: 64px;
    --header-h4-regular-font-style: normal;
    --header-h4-regular-font-weight: 400;
    --header-h4-regular-letter-spacing: 0px;
    --header-h4-regular-line-height: 72px;
    --header-h4-semibold-font-family: "Exo-SemiBold", Helvetica;
    --header-h4-semibold-font-size: 64px;
    --header-h4-semibold-font-style: normal;
    --header-h4-semibold-font-weight: 600;
    --header-h4-semibold-letter-spacing: 0px;
    --header-h4-semibold-line-height: 72px;
    --header-h4-xbold-font-family: "Exo-ExtraBold", Helvetica;
    --header-h4-xbold-font-size: 64px;
    --header-h4-xbold-font-style: normal;
    --header-h4-xbold-font-weight: 800;
    --header-h4-xbold-letter-spacing: 0px;
    --header-h4-xbold-line-height: 72px;
    --label-l1-medium-font-family: "Exo-Medium", Helvetica;
    --label-l1-medium-font-size: 14px;
    --label-l1-medium-font-style: normal;
    --label-l1-medium-font-weight: 500;
    --label-l1-medium-letter-spacing: 0px;
    --label-l1-medium-line-height: 20px;
    --label-l1-regular-font-family: "Exo-Regular", Helvetica;
    --label-l1-regular-font-size: 14px;
    --label-l1-regular-font-style: normal;
    --label-l1-regular-font-weight: 400;
    --label-l1-regular-letter-spacing: 0px;
    --label-l1-regular-line-height: 20px;
    --label-l1-semibold-font-family: "Exo-SemiBold", Helvetica;
    --label-l1-semibold-font-size: 14px;
    --label-l1-semibold-font-style: normal;
    --label-l1-semibold-font-weight: 600;
    --label-l1-semibold-letter-spacing: 0px;
    --label-l1-semibold-line-height: 20px;
    --label-l2-medium-font-family: "Exo-Medium", Helvetica;
    --label-l2-medium-font-size: 16px;
    --label-l2-medium-font-style: normal;
    --label-l2-medium-font-weight: 500;
    --label-l2-medium-letter-spacing: 0px;
    --label-l2-medium-line-height: 24px;
    --label-l2-regular-font-family: "Exo-Regular", Helvetica;
    --label-l2-regular-font-size: 16px;
    --label-l2-regular-font-style: normal;
    --label-l2-regular-font-weight: 400;
    --label-l2-regular-letter-spacing: 0px;
    --label-l2-regular-line-height: 24px;
    --label-l2-semibold-font-family: "Exo-SemiBold", Helvetica;
    --label-l2-semibold-font-size: 16px;
    --label-l2-semibold-font-style: normal;
    --label-l2-semibold-font-weight: 600;
    --label-l2-semibold-letter-spacing: 0px;
    --label-l2-semibold-line-height: 24px;
    --label-l3-medium-font-family: "Exo-Medium", Helvetica;
    --label-l3-medium-font-size: 18px;
    --label-l3-medium-font-style: normal;
    --label-l3-medium-font-weight: 500;
    --label-l3-medium-letter-spacing: 0px;
    --label-l3-medium-line-height: 24px;
    --label-l3-regular-font-family: "Exo-Regular", Helvetica;
    --label-l3-regular-font-size: 18px;
    --label-l3-regular-font-style: normal;
    --label-l3-regular-font-weight: 400;
    --label-l3-regular-letter-spacing: 0px;
    --label-l3-regular-line-height: 24px;
    --label-l3-semibold-font-family: "Exo-SemiBold", Helvetica;
    --label-l3-semibold-font-size: 18px;
    --label-l3-semibold-font-style: normal;
    --label-l3-semibold-font-weight: 600;
    --label-l3-semibold-letter-spacing: 0px;
    --label-l3-semibold-line-height: 24px;
    --lightblue-100: rgba(176, 231, 255, 1);
    --lightblue-200: rgba(138, 219, 255, 1);
    --lightblue-300: rgba(84, 202, 255, 1);
    --lightblue-400: rgba(51, 192, 255, 1);
    --lightblue-50: rgba(230, 247, 255, 1);
    --lightblue-500: rgba(0, 176, 255, 1);
    --lightblue-600: rgba(0, 160, 232, 1);
    --lightblue-700: rgba(0, 125, 181, 1);
    --lightblue-800: rgba(0, 97, 140, 1);
    --lightblue-900: rgba(0, 74, 107, 1);
    --LS-header-h4-bold-font-family: "LeagueSpartan-Bold", Helvetica;
    --LS-header-h4-bold-font-size: 32px;
    --LS-header-h4-bold-font-style: normal;
    --LS-header-h4-bold-font-weight: 700;
    --LS-header-h4-bold-letter-spacing: 0px;
    --LS-header-h4-bold-line-height: 35.20000076293945px;
    --LS-header-h4-medium-font-family: "LeagueSpartan-Medium", Helvetica;
    --LS-header-h4-medium-font-size: 32px;
    --LS-header-h4-medium-font-style: normal;
    --LS-header-h4-medium-font-weight: 500;
    --LS-header-h4-medium-letter-spacing: 0px;
    --LS-header-h4-medium-line-height: 35.20000076293945px;
    --LS-header-h4-semibold-font-family: "LeagueSpartan-SemiBold", Helvetica;
    --LS-header-h4-semibold-font-size: 32px;
    --LS-header-h4-semibold-font-style: normal;
    --LS-header-h4-semibold-font-weight: 600;
    --LS-header-h4-semibold-letter-spacing: 0px;
    --LS-header-h4-semibold-line-height: 35.20000076293945px;
    --LS-header-h4-xbold-font-family: "LeagueSpartan-ExtraBold", Helvetica;
    --LS-header-h4-xbold-font-size: 32px;
    --LS-header-h4-xbold-font-style: normal;
    --LS-header-h4-xbold-font-weight: 800;
    --LS-header-h4-xbold-letter-spacing: 0px;
    --LS-header-h4-xbold-line-height: 35.20000076293945px;
    --LS-header-h5-bold-font-family: "LeagueSpartan-Bold", Helvetica;
    --LS-header-h5-bold-font-size: 40px;
    --LS-header-h5-bold-font-style: normal;
    --LS-header-h5-bold-font-weight: 700;
    --LS-header-h5-bold-letter-spacing: 0px;
    --LS-header-h5-bold-line-height: 44px;
    --LS-header-h5-medium-font-family: "LeagueSpartan-Medium", Helvetica;
    --LS-header-h5-medium-font-size: 40px;
    --LS-header-h5-medium-font-style: normal;
    --LS-header-h5-medium-font-weight: 500;
    --LS-header-h5-medium-letter-spacing: 0px;
    --LS-header-h5-medium-line-height: 44px;
    --LS-header-h5-semibold-font-family: "LeagueSpartan-SemiBold", Helvetica;
    --LS-header-h5-semibold-font-size: 40px;
    --LS-header-h5-semibold-font-style: normal;
    --LS-header-h5-semibold-font-weight: 600;
    --LS-header-h5-semibold-letter-spacing: 0px;
    --LS-header-h5-semibold-line-height: 44px;
    --LS-header-h5-xbold-font-family: "LeagueSpartan-ExtraBold", Helvetica;
    --LS-header-h5-xbold-font-size: 40px;
    --LS-header-h5-xbold-font-style: normal;
    --LS-header-h5-xbold-font-weight: 800;
    --LS-header-h5-xbold-letter-spacing: 0px;
    --LS-header-h5-xbold-line-height: 44px;
    --LS-header-h6-bold-font-family: "LeagueSpartan-Bold", Helvetica;
    --LS-header-h6-bold-font-size: 80px;
    --LS-header-h6-bold-font-style: normal;
    --LS-header-h6-bold-font-weight: 700;
    --LS-header-h6-bold-letter-spacing: 0px;
    --LS-header-h6-bold-line-height: 88px;
    --LS-header-h6-semibold-font-family: "LeagueSpartan-SemiBold", Helvetica;
    --LS-header-h6-semibold-font-size: 80px;
    --LS-header-h6-semibold-font-style: normal;
    --LS-header-h6-semibold-font-weight: 600;
    --LS-header-h6-semibold-letter-spacing: 0px;
    --LS-header-h6-semibold-line-height: 88px;
    --LS-header-h6-xbold-font-family: "LeagueSpartan-ExtraBold", Helvetica;
    --LS-header-h6-xbold-font-size: 80px;
    --LS-header-h6-xbold-font-style: normal;
    --LS-header-h6-xbold-font-weight: 800;
    --LS-header-h6-xbold-letter-spacing: 0px;
    --LS-header-h6-xbold-line-height: 88px;
    --LS-header-t1-bold-font-family: "LeagueSpartan-Bold", Helvetica;
    --LS-header-t1-bold-font-size: 24px;
    --LS-header-t1-bold-font-style: normal;
    --LS-header-t1-bold-font-weight: 700;
    --LS-header-t1-bold-letter-spacing: 0px;
    --LS-header-t1-bold-line-height: 26.399999618530273px;
    --LS-header-t1-medium-font-family: "LeagueSpartan-Medium", Helvetica;
    --LS-header-t1-medium-font-size: 24px;
    --LS-header-t1-medium-font-style: normal;
    --LS-header-t1-medium-font-weight: 500;
    --LS-header-t1-medium-letter-spacing: 0px;
    --LS-header-t1-medium-line-height: 26.399999618530273px;
    --LS-header-t1-semibold-font-family: "LeagueSpartan-SemiBold", Helvetica;
    --LS-header-t1-semibold-font-size: 24px;
    --LS-header-t1-semibold-font-style: normal;
    --LS-header-t1-semibold-font-weight: 600;
    --LS-header-t1-semibold-letter-spacing: 0px;
    --LS-header-t1-semibold-line-height: 26.399999618530273px;
    --LS-header-t1-xbold-font-family: "LeagueSpartan-ExtraBold", Helvetica;
    --LS-header-t1-xbold-font-size: 24px;
    --LS-header-t1-xbold-font-style: normal;
    --LS-header-t1-xbold-font-weight: 800;
    --LS-header-t1-xbold-letter-spacing: 0px;
    --LS-header-t1-xbold-line-height: 26.399999618530273px;
    --orange-100: rgba(255, 223, 178, 1);
    --orange-200: rgba(255, 203, 127, 1);
    --orange-300: rgba(255, 182, 76, 1);
    --orange-400: rgba(255, 165, 37, 1);
    --orange-50: rgba(255, 243, 224, 1);
    --orange-500: rgba(255, 150, 0, 1);
    --orange-600: rgba(251, 138, 0, 1);
    --orange-700: rgba(232, 116, 1, 1);
    --orange-800: rgba(189, 84, 1, 1);
    --orange-900: rgba(152, 51, 1, 1);
    --red-100: rgba(255, 205, 210, 1);
    --red-200: rgba(239, 154, 154, 1);
    --red-300: rgba(229, 115, 115, 1);
    --red-400: rgba(239, 83, 80, 1);
    --red-50: rgba(255, 235, 238, 1);
    --red-500: rgba(244, 67, 54, 1);
    --red-600: rgba(229, 57, 53, 1);
    --red-700: rgba(211, 47, 47, 1);
    --red-800: rgba(198, 40, 40, 1);
    --red-900: rgba(183, 27, 28, 1);
    --scooter-100: rgba(205, 255, 252, 1);
    --scooter-200: rgba(161, 255, 252, 1);
    --scooter-300: rgba(97, 255, 254, 1);
    --scooter-400: rgba(26, 244, 246, 1);
    --scooter-50: rgba(235, 255, 253, 1);
    --scooter-500: rgba(0, 215, 221, 1);
    --scooter-600: rgba(1, 184, 198, 1);
    --scooter-700: rgba(9, 136, 149, 1);
    --scooter-800: rgba(17, 109, 121, 1);
    --scooter-900: rgba(19, 89, 102, 1);
    --shadesblack: rgba(13, 14, 15, 1);
    --shadesgrey: rgba(65, 65, 65, 1);
    --shadesoff-white: rgba(249, 250, 251, 1);
    --shadeswhite: rgba(255, 255, 255, 1);
    --title-t1-bold-font-family: "Exo-Bold", Helvetica;
    --title-t1-bold-font-size: 20px;
    --title-t1-bold-font-style: normal;
    --title-t1-bold-font-weight: 700;
    --title-t1-bold-letter-spacing: 0px;
    --title-t1-bold-line-height: 28px;
    --title-t1-regular-font-family: "Exo-Regular", Helvetica;
    --title-t1-regular-font-size: 20px;
    --title-t1-regular-font-style: normal;
    --title-t1-regular-font-weight: 400;
    --title-t1-regular-letter-spacing: 0px;
    --title-t1-regular-line-height: 28px;
    --title-t1-semibold-font-family: "Exo-SemiBold", Helvetica;
    --title-t1-semibold-font-size: 20px;
    --title-t1-semibold-font-style: normal;
    --title-t1-semibold-font-weight: 600;
    --title-t1-semibold-letter-spacing: 0px;
    --title-t1-semibold-line-height: 28px;
    --title-t1-xbold-font-family: "Exo-ExtraBold", Helvetica;
    --title-t1-xbold-font-size: 20px;
    --title-t1-xbold-font-style: normal;
    --title-t1-xbold-font-weight: 800;
    --title-t1-xbold-letter-spacing: 0px;
    --title-t1-xbold-line-height: 28px;
    --title-t2-bold-font-family: "Exo-Bold", Helvetica;
    --title-t2-bold-font-size: 24px;
    --title-t2-bold-font-style: normal;
    --title-t2-bold-font-weight: 700;
    --title-t2-bold-letter-spacing: 0px;
    --title-t2-bold-line-height: 32px;
    --title-t2-regular-font-family: "Exo-Regular", Helvetica;
    --title-t2-regular-font-size: 24px;
    --title-t2-regular-font-style: normal;
    --title-t2-regular-font-weight: 400;
    --title-t2-regular-letter-spacing: 0px;
    --title-t2-regular-line-height: 32px;
    --title-t2-semibold-font-family: "Exo-SemiBold", Helvetica;
    --title-t2-semibold-font-size: 24px;
    --title-t2-semibold-font-style: normal;
    --title-t2-semibold-font-weight: 600;
    --title-t2-semibold-letter-spacing: 0px;
    --title-t2-semibold-line-height: 32px;
    --title-t2-xbold-font-family: "Exo-ExtraBold", Helvetica;
    --title-t2-xbold-font-size: 24px;
    --title-t2-xbold-font-style: normal;
    --title-t2-xbold-font-weight: 800;
    --title-t2-xbold-letter-spacing: 0px;
    --title-t2-xbold-line-height: 32px;
  }
  